[submodule "RTNeural"]
	path = deps/RTNeural
	url = https://github.com/jatinchowdhury18/RTNeural
[submodule "NeuralAmpModelerCore"]
	path = deps/NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore
[submodule "math_approx"]
	path = deps/math_approx
	url = https://github.com/Chowdhury-DSP/math_approx
[submodule "RTNeural-NAM"]
	path = deps/RTNeural-NAM
	url = https://github.com/jatinchowdhury18/RTNeural-NAM
[submodule "Eigen"]
	path = deps/Eigen
	url = https://gitlab.com/libeigen/eigen/-/releases/3.4.0
[submodule "JSON"]
	path = deps/JSON
	url = https://github.com/nlohmann/json
[submodule "rubberband"]
	path = deps/rubberband
	url = https://github.com/breakfastquay/rubberband